*{
    font-family: cursive;
}
h1{
    background-color: black;
    color: white;
}
h1 span{
    color: cyan;
}
h2{
    background-color: mediumslateblue;
    text-align: center;
}
h3{
    background-color: darkgray;
    text-align: right;
}